doctype
html(lang=config.language)
    head
        include head
    body
        .wrap
            header
                h1 disparat* //// Stephan Hesse
                h1 @tchakabam
                a.logo-link(href='#')
                    canvas(width=100, height=100)#logo
                include nav
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
