doctype
html(lang=config.language)
    head
        include head
        script(src='/blog/js/Luminous.js')
    body
        .wrap
            header
                a.logo-link(href='#')
                    canvas(width=500, height=200)#logo
                h1 disparat* /// Stephan Hesse
                h1 @tchakabam
                include nav
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
