::selection {
    color: #FFFFFF;
    background-color: #07F3F1;
}

html, body {
    width: 100%;
    height: 100%;

}

body {
    margin: 0;
    color: #52656B;
    font-size: 15px;
    line-height: 1.6;
    background-color: #B8B89F;
    font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}

.logo-link canvas {
    transform: rotate(0deg);
}

.wrap {
    background-color: #fff;
}

#logo {
    cursor: pointer;
}

ul.nav,
ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    margin: 1rem 0;
}

a, a:active {
    color: #FF3B77;
    text-decoration: none;
}

a.nav-list-link.active,
a.nav-list-link:hover,
a.post-title-link:hover {
    border-bottom: 2px solid #CDFF00;
}

hr {
    border: 0;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #79B7FF;
    border-radius: 2px;
    white-space: inherit;
}

iframe, video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: #ddd;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}
